<!DOCTYPE html>
<html>

<body>
	
	<h1>Databases</h1>
	
	<form method="get" ng-submit="submit('service/databases')">
	
		<label>Database pattern</label> 
		
		<input type="text" ng-model="data.databasePattern">
	
		<input type="submit" ng-disabled="searching">
		<input type="reset" ng-disabled="searching" ng-click="reset()">
		
	</form>
	
	<div ng-show="rows">
		<h3>Results ({{perf.rowCount}})</h3>
		<table border="1">
			<tr>
				<th ng-repeat="h in head" ng-bind="h"></th>
			</tr>
			<tr ng-repeat="r in rows">
				<td ng-repeat="h in head" ng-bind="r.fields[h]"></td>
			</tr>
		</table>
	</div>
	
	<action-timer timer="perf" />

</body>
</html>