<!DOCTYPE html>
<html>

<body>
	
	<h1>Native Functions</h1>
	
	<form method="get" ng-submit="submit('service/nativeFunctions')">
	
		<label>Native functions</label> 
		
		<select ng-model="data.nativeFunction">
			<option>NUMERIC</option>
			<option>STRING</option>
			<option>TIME_DATE</option>
			<option>SYSTEM</option>
		</select>
	
		<input type="submit" ng-disabled="searching">
		<input type="reset" ng-disabled="searching" ng-click="reset()">
		
	</form>
	
	<div ng-show="rows">
		<h3>Results ({{perf.rowCount}})</h3>
		<table border="1">
			<tr>
				<th ng-repeat="h in head" ng-bind="h"></th>
			</tr>
			<tr ng-repeat="r in rows">
				<td ng-bind="r"></td>
			</tr>
		</table>
	</div>
	<div ng-show="perf">
		<h3>Time</h3>
		<table border="1">
			<tr>
				<th>Action</th>
				<th>Start</th>
				<th>End</th>
				<th>Duration</th>
			</tr>
			<tr ng-repeat="action in perf.times">
				<td>{{action.name}}</td>
				<td ng-bind="action.start|date:'HH:mm:ss:sss'"></td>
				<td ng-bind="action.end|date:'HH:mm:ss:sss'"></td>
				<td style="text-align:right;">{{action.end - action.start}} ms</td>
			</tr>
		</table>
	</div>

</body>
</html>