<!DOCTYPE html>
<html>

<body>
	
	<h1>Native Functions</h1>
	
	<form method="get" ng-submit="submit('service/nativeFunctions')">
	
		<label>Native functions</label> 
		
		<select ng-model="data.nativeFunction">
			<option>NUMERIC</option>
			<option>STRING</option>
			<option>TIME_DATE</option>
			<option>SYSTEM</option>
		</select>
	
		<input type="submit" ng-disabled="searching">
		<input type="reset" ng-disabled="searching" ng-click="reset()">
		
	</form>
	
	<div ng-show="rows">
		<h3>Results ({{rows.length}})</h3>
		<table border="1">
			<tr>
				<th ng-repeat="h in head" ng-bind="h"></th>
			</tr>
			<tr ng-repeat="r in rows">
				<td ng-bind="r"></td>
			</tr>
		</table>
	</div>
	
	<action-timer timer="perf" />

</body>
</html>