<!DOCTYPE html>
<html>

<body>

	<h1>Procedures</h1>
	<form ng-submit="submit('service/procedures')">
		<div>
			<label>Database pattern</label> <input type="text" ng-model="data.databasePattern">
		</div>
		<div>
			<label>Procedure pattern</label> <input type="text" ng-model="data.procedurePattern">
		</div>
		<input type="submit" ng-disabled="searching">
		<input type="reset" ng-disabled="searching" ng-click="reset()">
	</form>

	<div ng-show="rows">
		<h3>Results ({{rows.length}})</h3>
		<table border="1">
			<tr>
				<th ng-repeat="h in head" ng-bind="h"></th>
				<th>Details</th>
			</tr>
			<tr ng-repeat="r in rows">
				<td ng-repeat="h in head" ng-bind="r.fields[h]"></td>
				<td><a href="#arguments/{{r.fields['DATABASE_NAME']}}/{{r.fields['PROCEDURE_NAME']}}">Arguments</a></td>
			</tr>
		</table>
	</div>
	
	<action-timer timer="time" />
	
</body>

</html>