<!DOCTYPE html>
<html>

<body>
	
	<h1>Rows</h1>
	
	<form method="get" ng-submit="submit('service/rows')">
	
		<div>
			<label>Query</label> 
		</div>
		
		<textarea cols="60" rows="10" ng-model="data.query"></textarea>
		
		<div>
			<input type="submit" ng-disabled="searching">
			<input type="reset" ng-disabled="searching" ng-click="reset()">
		</div>
		
	</form>
	
	<div ng-show="rows">
		<h3>Results ({{rows.length}})</h3>
		<table border="1">
			<tr>
				<th ng-repeat="h in head" ng-bind="h"></th>
			</tr>
			<tr ng-repeat="r in rows">
				<td ng-repeat="h in head" ng-bind="r.fields[h]"></td>
			</tr>
		</table>
	</div>
	
	<action-timer timer="time" />

</body>
</html>