<!DOCTYPE html>
<html>

<body>

	<h1>Tables</h1>
	<form ng-submit="submit('service/tables')">
		<div>
			<label>Database pattern</label> <input type="text" ng-model="data.databasePattern">
		</div>
		<div>
			<label>Table pattern</label> <input type="text" ng-model="data.tablePattern">
		</div>
		<div>
			<label>Type </label>
			<select ng-model="data.tableType" multiple="multiple">
				<option>TABLE</option>
				<option>VIEW</option>
				<option>SYSTEM_TABLE</option>
				<option>GLOBAL_TEMPORARY</option>
				<option>LOCAL_TEMPORARY</option>
				<option>ALIAS</option>
				<option>SYNONYM</option>
			</select>
		</div>
		<input type="submit" ng-disabled="searching"> <input
			type="reset" ng-disabled="searching" ng-click="reset()">
	</form>

	<div ng-show="rows">
		<h3>Results ({{rows.length}})</h3>
		<table border="1">
			<tr>
				<th ng-repeat="h in head" ng-bind="h"></th>
				<th>Detail</th>
			</tr>
			<tr ng-repeat="r in rows">
				<td ng-repeat="h in head" ng-bind="r.fields[h]"></td>
				<td><a href="#columns/{{r.fields['DATABASE_NAME']}}/{{r.fields['TABLE_NAME']}}">Columns</a>|
					<a href="#primaryKeys/{{r.fields['DATABASE_NAME']}}/{{r.fields['TABLE_NAME']}}">P.K</a>|
					<a href="#rows/SELECT * FROM {{r.fields['DATABASE_NAME']}}.{{r.fields['TABLE_NAME']}}">data</a>|
				</td>
			</tr>
		</table>
	</div>

	<action-timer timer="time" />

</body>

</html>