<!DOCTYPE html>
<html>

<body>

	<h1>Tables</h1>
	<form ng-submit="submit('service/tables')">
		<div>
			<label>Database pattern</label> <input type="text" ng-model="data.databasePattern">
		</div>
		<div>
			<label>Table pattern</label> <input type="text" ng-model="data.tablePattern">
		</div>
		<input type="submit" ng-disabled="searching">
		<input type="reset" ng-disabled="searching" ng-click="reset()">
	</form>

	<div ng-show="rows">
		<h3>Results ({{perf.rowCount}})</h3>
		<table border="1">
			<tr>
				<th ng-repeat="h in head" ng-bind="h"></th>
				<th>Columns</th>
				<th>Primary keys</th>
			</tr>
			<tr ng-repeat="r in rows">
				<td ng-repeat="h in head" ng-bind="r.fields[h]"></td>
				<td><a href="#columns/{{r.fields['TABLE_SCHEM']}}/{{r.fields['TABLE_NAME']}}">Columns</a></td>
				<td><a href="#primaryKeys/{{r.fields['TABLE_SCHEM']}}/{{r.fields['TABLE_NAME']}}">P.K</a></td>
			</tr>
		</table>
	</div>
	
	<action-timer timer="perf" />
	
</body>

</html>